@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* System Gray Colors */
    --gray-color-100: 0 0 0;
    --gray-color-200: 60 60 70;
    --gray-color-300: 100, 100, 110;

    /* Component Colors */
    --background: 255 255 255;

    --primary: var(--gray-color-100);
    --secondary: var(--gray-color-200);
    --tertiary: var(--gray-color-300);

    --border: 200 200 210;
    --ring: 82 168 255;

    --focus-ring: 0 0 0 2px rgb(var(--background)), 0 0 0 4px rgb(var(--ring));

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border decoration-current decoration-[1.6px];
  }

  html {
    -webkit-tap-highlight-color: transparent;
    @apply bg-background;
  }

  body {
    @apply bg-background text-primary;
  }
}

@layer components {
  [data-button="true"]:focus-visible {
    transition: none;
    box-shadow: var(--focus-ring);
  }

  [data-input-wrapper="true"] {
    @apply border-b-[3px] transition-colors;
  }

  /* [data-shadcnui-input-wrapper="true"]:hover {
  
  } */

  [data-input-wrapper="true"]:focus-within {
    @apply border-b-cyan-500;
  }

  /* [data-shadcnui-input-wrapper="true"]:has(
      [data-shadcnui-input="true"]:disabled
    ) {
    
  } */
}
